/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía y fondo */
body {
    background-image: url('Fondoindex.png');
    background-repeat: no-repeat; /* <-- Esta es la clave para evitar el mosaico */
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-image: url('Header.png');
    background-size: cover;
  background-position: center;
  position: relative; /* Esencial para posicionar el overlay */
  width: 100%;
  height: 400px; /* Ajusta la altura según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: seashell; /* Color del texto */
}
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}
.overlay {
  /* Crea el fondo semi-transparente y el borde */
  background-color: rgba(0, 0, 0, 0.7); /* El color negro con 60% de opacidad */
  border: 2px solid darkgoldenrod; /* El borde dorado */
  padding: 20px;
}



/* Secciones */
section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: darkgoldenrod;
    margin-bottom: 20px;
    text-align: center;
}

/* Proyectos */

.proyecto {
    background-color: white;
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.proyecto h3 {
    margin-bottom: 10px;
}

.proyecto a {
    color: darkgoldenrod;
    text-decoration: none;
    margin-right: 15px;
}

.proyecto a:hover {
    text-decoration: underline;
}

/* Contacto */
#contacto a {
    color: darkgoldenrod;
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px 20px;
    margin-top: 40px;
}

.Demo_fondo{
      background-image: url('Fondo\ demo.png');
    background-repeat: no-repeat; /* <-- Esta es la clave para evitar el mosaico */
    background-size: cover;
    background-position: center;
    background-attachment: fixed ;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: black;
    color: seashell;

}
